<mat-card>
    <h1 class="center">Assinatura</h1>
    <h3 class="subhead">Assistência técnica e venda de componentes para equipamentos de esterilização e desinfecção.</h3>
    <ngx-spinner></ngx-spinner>
    <form #f="ngForm" (ngSubmit)="OnSumbit(f)" class="grid-list" *ngIf="podeassinar == true">

        <div class="form-group" [class.has-error]="!nome.valid && nome.touched">
            <label for="nomeMarca">Nome completo*</label>
            <input placeholder="Nome Completo" type="text" class="form-control" name="nome" id="nome" required #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched" [(ngModel)]="assinatura.nome" name="nome">
            <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">
                Insira o seu nome completo
            </div>
        </div>

        <div class="form-group" [class.has-error]="!nome.valid && nome.touched">
            <label for="nomeMarca">Cargo*</label>
            <input placeholder="Nome do Cargo" type="text" class="form-control" name="cargo" id="cargo" required #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched" [(ngModel)]="assinatura.cargo" name="cargo">
            <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">
                Insira o seu Cargo
            </div>
        </div>

        <div class="form-group" [class.has-error]="!nome.valid && nome.touched">
            <label for="nomeMarca">CPF*</label>
            <input placeholder="123.123.123-12" type="text" class="form-control" name="cpf" id="nome" required #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched" [(ngModel)]="assinatura.cpf" name="cpf">
            <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">
                Insira o CPF
            </div>
        </div>

        <div *ngIf="recusou == true">

            <div class="form-group" [class.has-error]="!nome.valid && nome.touched">
                <label for="nomeMarca">Motivo de recusar*</label>
                <input placeholder="Motivo" type="text" class="form-control" name="obs" id="obs" required #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched" [(ngModel)]="assinatura.obs" name="obs">
                <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">
                    Insira o motivo
                </div>
            </div>

            <div class="btn-group mb-3">
                <button type="submit" mat-raised-button class="btn salvar" color="warn" [disabled]="!f.valid">Enviar resposta</button>
            </div>

        </div>

        <div class="btn-group mb-3">
            <button type="button" class="btn btn-primary" (click)="recusar()">Não Concordo</button>
            <button type="submit" mat-raised-button class="btn salvar" [disabled]="!f.valid || recusou == true">Assinar</button>

            <!-- <button type="submit" mat-raised-button class="btn salvar" *ngIf="recusou != true" [disabled]="!f.valid">Assinar</button>
            <button type="submit" mat-raised-button class="btn salvar" *ngIf="recusou == true" [disabled]="!f.valid">Enviar resposta</button> -->
        </div>


    </form>
</mat-card>

<!-- OS -->


<mat-card>

    <h1 class="center">Ver os</h1>
    <ngx-spinner></ngx-spinner>

    <form #f="ngForm">

        <div class="grid-container">

            <!-- <mat-card> -->
            <mat-form-field appearance="fill" class="select">
                <mat-label>Selecione o Tipo</mat-label>
                <mat-select disabled [(value)]="os.tipo">
                    <mat-option value="Corretiva">Corretiva</mat-option>
                    <mat-option value="Preventiva">Preventiva</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="select">
                <mat-label>Status</mat-label>
                <mat-select disabled [(value)]="os.status">
                    <mat-option value="Executada">Executada</mat-option>
                    <mat-option value="Pendente">Pendente</mat-option>
                    <mat-option value="Cancelada">Cancelada</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- <h3>Selecione o Mes</h3> -->
            <mat-form-field appearance="fill" class="select">
                <mat-label>Mês</mat-label>
                <mat-select disabled [(value)]="os.mes">
                    <mat-option value="01">JANEIRO</mat-option>
                    <mat-option value="02">FEVEREIRO </mat-option>
                    <mat-option value="03">MARÇO</mat-option>
                    <mat-option value="04">ABRIL </mat-option>
                    <mat-option value="05">MAIO </mat-option>
                    <mat-option value="06">JUNHO </mat-option>
                    <mat-option value="07">JULHO</mat-option>
                    <mat-option value="08">AGosTO</mat-option>
                    <mat-option value="09">SETEMBRO</mat-option>
                    <mat-option value="10">OUTUBRO</mat-option>
                    <mat-option value="11">NOVEMBRO</mat-option>
                    <mat-option value="12">DEZEMBRO</mat-option>
                </mat-select>
            </mat-form-field>


            <mat-form-field disabled appearance="fill" class="select">
                <mat-label>Selecione o Ano</mat-label>
                <mat-select disabled [(value)]="os.ano">
                    <mat-option value="2020">2020</mat-option>
                    <mat-option value="2021">2021</mat-option>
                    <mat-option value="2022">2022</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- <mat-form-field appearance="fill" class="select">
                    <mat-label>Coloque a data</mat-label>
                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                        <input matStartDate formControlName="start" placeholder="Start date">
                        <input matEndDate formControlName="end" placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field> -->

            <mat-form-field appearance="fill" class="select">
                <mat-label>CREA</mat-label>
                <mat-select disabled [(value)]="creia">
                    <mat-option value="1">0716089</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="select">
                <mat-label>Tecnico</mat-label>
                <mat-select disabled [(value)]="creia">
                    <mat-option value="1">{{os.usuario.nome}}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>






        <!-- parte Corretiva -->
        <div *ngIf="os.tipo == 'Corretiva'">

            <div class="form-group" [class.has-error]="!nome.valid && nome.touched">
                <label for="nomeMarca">Motivo da Solicitação</label>
                <input disabled placeholder="Insira o Motivo" type="text" class="form-control" name="nome" id="nome" required #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched" [(ngModel)]="os.motivo" name="motivo">
                <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">
                    Insira o Motivo
                </div>
            </div>
            <!-- <div class="form-group" [class.has-error]="!nome.valid && nome.touched">
                        <label for="nomeMarca">Solicitante</label>
                        <input placeholder="Nome do solicitante" type="text" class="form-control" name="nome"
                            id="nome" required #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched"
                            [(ngModel)]="os.solicitante" name="solicitante">
                        <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">
                            Nome do solicitante
                        </div>
                    </div> -->

            <div class="form-group" [class.has-error]="!nome.valid && nome.touched">
                <label for="nomeMarca">Relatório Técnico</label>
                <input disabled placeholder="Escreva aqui o que foi feito" type="text" class="form-control" name="nome" id="nome" required #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched" [(ngModel)]="os.observacao" name="observacao">
                <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">
                    Insira o relatório
                </div>
            </div>

            <div class="form-group correcaofooter" [class.has-error]="!nome.valid && nome.touched">
                <label for="nomeMarca">Peças</label>
                <input disabled placeholder="Escreva aqui o que foi utilizado" type="text" class="form-control" name="peca" id="nome" required #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched" [(ngModel)]="os.peca" name="peca">
                <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">
                    Insira as informações
                </div>
            </div>

            <h3 *ngIf="os.assinatura != null">
                <span class="material-icons">
                    add_task
                </span> Assinado
            </h3>



        </div>

        <!-- parte Preventiva -->
        <div *ngIf="os.tipo == 'Preventiva' ">

            <div *ngIf="os.check.autoclave.nome == 'AUTOCLAVE'">
                <h2>Cheklist Autoclave</h2>
                <section class="grid-check">
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c1">Funcionamento porta (s)
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c2">Guarnição de vedação porta (s)
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c3">Diafragma trava segurança
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c4">Válvulas de retenção
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c5">Válvulas solenóides
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c6">Válvulas pneumáticas
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c7">Bomba de vácuo
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c8">Bomba d'água
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c9">Limpeza eletrodos / Bóia de nivel
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c10">Aferição pressão câmara externa
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c11">Aferição pressão câmara interna
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c12">Aferição temperatura ciclo
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c13">Contator de aquecimento
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c14">Contator rele térmico / bomba d'água</mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c15">Contator rele térmico / bomba vácuo</mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c16">Filtro bacteriológico
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c17">Corrente das resistências
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c18">Limpeza da estrutura
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c19">Comando microprocessado
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c20">Impressora de ciclo
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c21">Verificação de micro switch
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c22">Válvula de segurança
                    </mat-checkbox>
                </section>
            </div>

            <div *ngIf="os.check.autoclave.nome == 'TERMODESINFECTORA'">
                <h2>Cheklist Termodesinfectora</h2>
                <section class="grid-check">
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c1">Funcionamento porta (s)
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c2">Guarnição de vedação porta (s)
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c3">Filtro de ar
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c4">Válvulas de retenção
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c5">Válvula solenóide água fria
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c6">Válvula solenóide água quente
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c7">Válvula soleinóde água tratada
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c8">Válvula soleinóde trava porta (s)</mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c9">Bomba d'água
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c10">Bomba (s) dosadora
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c11">Bomba de circulação
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c12">Contator bomba de circulação
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c13">Contator rele térmico bomba d'água
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c14">Contator das resistências cuba
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c15">Contator resistências secagem
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c16">Limpeza de bicos e rotores
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c17">Limpeza de estrutura
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c18">Corrente elétrica das resist. cuba</mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c19">Corrente elétrica das resist. secagem</mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c20">Integridade tupo de ar comprímido
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c21">Impressora de ciclo
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c22">Verificação de micro switch
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c23">Válvula do sistema de drenagem
                    </mat-checkbox>
                </section>
            </div>

            <div *ngIf="os.check.autoclave.nome == 'GABINETE DE SECAGEM'">
                <h2>Cheklist Gabinete de Secagem</h2>
                <section class="grid-check">
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c1">Verificar disjuntor geral
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c2">Verificar disjuntor motor
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c3">Verificar contatores
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c4">Verificar termostato de segurança
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c5">Verificar sensor de temperatura
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c6">Verificar comando elétrico
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c7">Verificar controlador eletrônico
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c8">Verificar guarnição da porta
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c9">Verificar trinco / fechadura da porta</mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c10">Verificar filtros de ar
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c11">Verificar ventoinha / motor
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c12">Verificar limpeza estrutural
                    </mat-checkbox>
                </section>
            </div>

            <div *ngIf="os.check.autoclave.nome == 'SISTEMA DE OSMOSE REVERSA'">
                <h2>Cheklist Sistema de osmose Reversa</h2>
                <section class="grid-check">
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c1">Verificar válvulas solenóides
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c2">Verificar sensor de nível
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c3">Verificar tubulação
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c4">Verificar conexões
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c5">Verificar carcaças de membranas
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c6">Verificar carcaças de elementos filtrantes</mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c7">Verificar bomba de pressurização
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c8">Verificar elementos filtrantes
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c9">Verificar manômetros
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c10">Verificar produção de água tratada
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c11">Verificar saída do rejeito
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c12">Verificar comando eletroeletrônico
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c13">Verificar pressostato
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c14">Verificar limpeza de reservatório
                    </mat-checkbox>
                    <mat-checkbox name="test" class="example-margin" [checked]="checked.c15">Verificar limpeza estrutural
                    </mat-checkbox>
                </section>
            </div>


            <div class="form-group" [class.has-error]="!nome.valid && nome.touched">
                <label for="nomeMarca">Observação</label>
                <input disabled placeholder="Escreva uma Observação" type="text" class="form-control" name="nome" id="nome" required #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched" [(ngModel)]="os.observacao" name="observacao">
                <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">
                    Insira a Observação
                </div>
            </div>

            <div class="form-group correcaofooter" [class.has-error]="!nome.valid && nome.touched">
                <label for="nomeMarca">Peças</label>
                <input disabled placeholder="Escreva aqui o que foi utilizado" type="text" class="form-control" name="peca" id="nome" required #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched" [(ngModel)]="os.peca" name="peca">
                <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">
                    Insira as informações
                </div>
            </div>

            <h3 *ngIf="os.assinatura != null">
                <span class="material-icons">
                    add_task
                </span> Assinado
            </h3>


        </div>



        <!-- <div class="grid-container">
            <button type="button" class="btn btn-primary voltar" (click)="cancel()">Voltar</button>
            <button type="button" class="btn btn-primary voltar" [disabled]="!f.valid">Enviar</button>
        </div> -->
    </form>

</mat-card>