<mat-card>
    <h1 class="center">Alterar Equipamento</h1>
    <ngx-spinner></ngx-spinner>
    <form #f="ngForm" (ngSubmit)="OnSumbit(f)">
        <div class="grid-container ">
            <div class="form-group" [class.has-error]="!nome.valid && nome.touched">
                <label for="nomeMarca">Modelo</label>

                <input placeholder="Nome de Categoria" type="text" class="form-control" name="nome" id="nome" required
                    #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched" [(ngModel)]="equipamento.modelo"
                    name="nomeCategoria">
                <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">
                    Insira o Modelo
                </div>

            </div>
            <div class="form-group" [class.has-error]="!nome.valid && nome.touched">
                <label for="nomeMarca">Nº Serie</label>

                <input placeholder="Nome de Categoria" type="text" class="form-control" name="nome" id="nome" required
                    #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched"
                    [(ngModel)]="equipamento.numero_serie" name="numero_serie">
                <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">
                    Insira o Numero de serie
                </div>

            </div>
            <div class="form-group" [class.has-error]="!nome.valid && nome.touched">
                <label for="nomeMarca">Ano de Fabricação</label>

                <input placeholder="Nome de Categoria" type="text" class="form-control" name="nome" id="nome" required
                    #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched"
                    [(ngModel)]="equipamento.ano_fabrica" name="ano_fabrica">
                <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">
                    Insira o ano de fabricação
                </div>

            </div>
            <div class="form-group" [class.has-error]="!nome.valid && nome.touched">
                <label for="nomeMarca">Fabricante</label>

                <input placeholder="Nome do Fabricante" type="text" class="form-control" name="nome" id="nome" required
                    #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched"
                    [(ngModel)]="equipamento.fabricante" name="fabricante">
                <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">
                    Insira o fabricante
                </div>

            </div>
            <div class="form-group" [class.has-error]="!nome.valid && nome.touched">
                <label for="nomeMarca">Numero de Patrimonio</label>

                <input placeholder="Numero de Patrimonio" type="text" class="form-control" name="nome" id="nome"
                    required #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched"
                    [(ngModel)]="equipamento.numero_patrimonio" name="numero_patrimonio">
                <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">
                    Insira o numero de patrimonio
                </div>

            </div>
            <div class="form-group" [class.has-error]="!nome.valid && nome.touched">
                <label for="nomeMarca">Tensão de alimentação</label>

                <input placeholder="Tensão de alimentação" type="text" class="form-control" name="nome" id="nome"
                    required #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched"
                    [(ngModel)]="equipamento.tensao_alimentacao" name="tensao_alimentacao">
                <div class="alert alert-danger" role="alert" *ngIf="!nome.valid && nome.touched">
                    Insira a Tensão de alimentação
                </div>

            </div>

            <div class="form-group" [class.has-error]="!nome.valid && nome.touched">
                <h4>Aparelho atual: {{equipamento.autoclave.nome}}</h4>
                <mat-form-field appearance="fill" class="select">

                    <mat-label>Selecione o Aparelho</mat-label>
                    <mat-select [(value)]="equipamento.autoclave.id">
                        <mat-option value="1">AUTOCLAVE</mat-option>
                        <mat-option value="2">TERMODESINFECTORA</mat-option>
                        <mat-option value="3">GABINETE DE SECAGEM</mat-option>
                        <mat-option value="4">SISTEMA DE OSMOSE REVERSA</mat-option>
                        <mat-option value="5">OUTROS</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="btn-group mb-3">
            <!-- <button type="submit" class="btn btn-primary salvar" [disabled]="!f.valid">Salvar</button> -->
            <button type="button" class="btn btn-primary voltar" (click)="cancel()">Voltar</button>
            <button type="submit" mat-raised-button class="btn salvar" [disabled]="!f.valid">Salvar</button>

        </div>

    </form>
</mat-card>