<h1 class="center">Equipamentos</h1>
<!-- <div class="grid-container2">
  <div class="cliente">
    <mat-list-item>Cliente: {{dados.cliente}}</mat-list-item>
  </div>
  <div class="setor">
    <mat-list-item>Setor: {{dados.setor}}</mat-list-item>
  </div>
</div> -->

<mat-divider></mat-divider>
<!-- filtro -->
<mat-form-field class="conteiner">
    <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Pesquisar">
</mat-form-field>
<ngx-spinner></ngx-spinner>

<!-- tabela -->
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>Nº</th>
            <td mat-cell *matCellDef="let element"> {{element.idEquipamento}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Modelo </th>
            <td mat-cell *matCellDef="let element"> {{element.modelo}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="numero_serie">
            <th mat-header-cell *matHeaderCellDef> Numero de Serie </th>
            <td mat-cell *matCellDef="let element"> {{element.numero_serie}} </td>
        </ng-container>

        <ng-container matColumnDef="setor">
            <th mat-header-cell *matHeaderCellDef> Setor </th>
            <td mat-cell *matCellDef="let element"> {{element.setor.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef> Cliente </th>
            <td mat-cell *matCellDef="let element"> {{element.cliente.nome}} </td>
        </ng-container>


        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol" class="end">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let element">

                <a *ngIf="permissao != 'ROLE_TECNICO'" (click)="ativar(element)" class="delete" title="Deletar">
                    <i type="button" class="material-icons">
            restore_from_trash
          </i>
                </a>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- paginacao -->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
<!-- <button mat-raised-button (click)="view()">Open file</button> -->

<!-- <button type=button class="btn btn-primary"  (click)="clickMethod('name')">Delete me</button> -->